<div class="create-folder-container">
  <form action="/folder/new" method="post">
    <label for="folder_name">Folder Name:</label>
    <input type="text" id="folder_name" name="folder_name" required />
    <button type="submit" class="new-folder-btn action-btn">New Folder</button>
  </form>
</div>
