<% if (files) { %> 
        <ul class="files-container">
            <% files.map((file) => { %>
                <li class="file-item"> 
                    <a href=<%=`/file/${file.id}/view`%> class="file-item-content">
                        <i data-lucide="file" class="icon"></i>
                        <%= file.name %>
                    </a> 
                </li>
            <%  }) %>
        </ul>
<% } %>
<script src="https://unpkg.com/lucide@latest"></script>
    <script>
      lucide.createIcons();
    </script>