<div class="navbar-container">
    <div class="navbar-left">
        <a href="/">
            <i data-lucide="snail" class="icon header"></i>
        </a>
    </div>
    <div class="navbar-right">
        <% if (currentUser) { %>
            <a href="/logout">
                <i data-lucide="log-out" class="icon header"></i>
            </a>
        <% } else { %> 
            <a href="/login">
                <i data-lucide="log-in" class="icon header"></i>
            </a>
            <% } %>
    </div>
    <script src="https://unpkg.com/lucide@latest"></script>
    <script>
      lucide.createIcons();
    </script>
</div>