<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= folderName %></title>
</head>
<body>
    <h1><%= folderName %></h1>
    <p> <%= folderId %></p>
</body>
</html>