<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="/styles.css">
    <title>Home</title>
  </head>
  <body>
    <%- include("./partials/navbar.ejs") %>
    <div class="content">
    <% if (currentUser) { %>
    <div class="home-page folders-section">
        <h2>Your Folders</h2>
        <%- include("./partials/createFolder.ejs") %> 
        <%-include("./partials/listAllUserFolders.ejs") %> 
    </div>
    <div class="home-page files-section">
        <h2 >Your Files</h2>
        <%- include("./partials/listAllFolderFiles.ejs") %>
    </div>
    <% } else { %>
    <h1>Please login</h1>
    <a href="/login">log in</a>
    <% } %>
    </div>
  </body>
</html>
