<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css">
    <title>Log In</title>
  </head>
  <body>
    <%- include("./partials/navbar.ejs") %>
    <div class="content">
      <h1>Log In</h1>
  <form action="/login" method="post" class="login-form">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" />

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" />
      <button class="action-btn">Log In</button>
    </form>
    <div class="signup-redirect">
      Don't have an account?
        <a href="signup" class="link">Sign Up!</a>
    </div> 
    </div>
  </body>
</html>
