@font-face {
  font-family: "LucideIcons";
  src: url(https://unpkg.com/lucide-static@latest/font/Lucide.ttf)
    format("truetype");
}
body {
  background-color: #2d3436;
  color: #dfe6e9;
  font-family: "Inter";
}
.file-item-content,
.folder-item {
  display: flex;
  gap: 10px;
  color: #dfe6e9;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
}
.file-item-content {
  font-family: monospace;
}

.files-container,
.folders-container {
  list-style-type: none; /* Remove bullets */
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
}
li {
  padding-bottom: 10px;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #636e72;
  padding-bottom: 5px;
}
.navbar-left a,
.navbar-right a {
  color: #dfe6e9;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-btns-container {
  display: flex;
  gap: 10px;
  align-items: center;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Modal Content */
.modal-content {
  background-color: #dfe6e9;
  color: #2d3436;
  margin: auto;
  padding: 20px;
  border: 1px solid #636e72;
  width: 80%;
  max-width: 500px;
  text-align: center;
  border-radius: 8px;
}

.close {
  color: #636e72;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  cursor: pointer;
}
.delete-folder-btn:hover {
  background-color: #d63031;
  color: #dfe6e9;
}
.file-name-container,
.file-folder-container,
.file-size-container,
.file-date-container {
  display: flex;
  gap: 10px;
  align-items: center;
  word-break: break-word;
}
.buttons-container {
  display: flex;
  gap: 10px;
}
.delete-file-btn {
  background-color: #d63031;
  color: #dfe6e9;
  border: 0;
  border-radius: 5px;
  font-weight: bold;
}
.download-file-btn,
.delete-file-btn {
  padding: 2.5px 5px;
  display: flex;
  height: 35px;
  align-items: center;
  gap: 5px;
}
.delete-file-btn:hover {
  background-color: #e43e3e;
  color: #dfe6e9;
  cursor: pointer;
}
.download-file-btn-container {
}
.download-file-btn {
  display: flex;
  align-items: center;
}
.download-file-btn:hover {
  cursor: pointer;
}
.content {
  max-width: 500px;
  margin: auto;
}
.file-item {
  word-break: break-word;
  white-space: normal;
}
.icon {
  min-width: 24px;
}
.file-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.login-form input,
.login-form button {
  max-width: 250px;
}
.icon.header {
  width: 2em;
  height: auto;
}
